<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1523370885191-b4370ec51449?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6bebfcc54d294a37435a34c2c7351642&auto=format&fit=crop&w=668&q=80');">
          <div class="card-description">
            <h2>The Highball</h2>
            <p>Whiskey</p>
            <% link_to new_cocktail_path %>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1501784050997-975d9fdb56d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e51f8ef76d621e29c9f12806d6f70beb&auto=format&fit=crop&w=1350&q=80');">
          <div class="card-description">
            <h2>The Great Gatsby</h2>
            <p>Gin</p>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1470338745628-171cf53de3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b021b2cbe86640f8b50c8b24bc03b576&auto=format&fit=crop&w=668&q=80');">
          <div class="card-description">
            <h2>The Mint Julep</h2>
            <p>Bourbon</p>
          </div>
        </div>
    </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5542b0b283ce0dcb01e142f9c4bc5dae&auto=format&fit=crop&w=986&q=80');">
        <div class="card-description">
          <h2>The Fitzgerald</h2>
          <p>Gin</p>
        </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1438522014717-d7ce32b9bab9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=55cb1a59dd5a3cecf474342bc3048ea7&auto=format&fit=crop&w=1349&q=80');">
        <div class="card-description">
          <h2>The Bailey</h2>
          <p>Pimp's</p>
        </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1501199532894-9449c0a85a77?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1aa3569a8f7402dfa00a7508d1c9d3af&auto=format&fit=crop&w=668&q=80');">
        <div class="card-description">
          <h2>The Seelbach</h2>
          <p>Cointreau</p>
        </div>
      </div>
  </div>
  </div>
</div>
