<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "cocktail.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-warning navbar-btn" %>

    <!-- Profile picture with dropdown list -->

  </div>

</div>
